<body>
  <div class="container-fluid d-flex vh-100 flex-column">
    <div class="row fill-height" style="justify-content: space-between;">
      <div class="col-md-1 col-3" id="menuCol">
        <div class="row">
          <div class="col-md-12 col-12">
            <img id="menuIcon" (click)="toggleRightSidenav()" onmouseover="this.src='../../../assets/Images/generic/menuIcon_hover.png'" src="/assets/Images/generic/menuIcon.png" onmouseout="this.src='/assets/Images/generic/menuIcon.png'">
          </div>
        </div>
      </div>


    <div *ngIf="actualTeamVisible" class="col-md-10 col-6" style="height: 100% ;     display: flex;justify-content: center;">

      <div class="col-md-3 col-5" style="" *ngFor="let player of actualTeam" id="bannerCol">
        <img class="banner" src="../../../assets/Images/generic/banner{{player.rank || player.teamRank}}.png" style="position: absolute;top: 0;left: 0;"/>
        <div id="buttonZone" style="position: absolute; width: 100%;text-align: center;top: 0;left: 0; display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-evenly;height: 70%;" >
          <div id="rankZone">
            Actual team
                      <img id="rankImage" src="../../../assets/Images/waiting/{{player.rank || player.teamRank}}.png"/>
                    </div>

                    <div id="summonerName">
                      <p style="font-family: beaufort, serif; font-weight: bold;">{{player.summonerName}}</p>
                    </div>

                        <div id="playerRole">
                          <img id="roleImg" src="../../../assets/Images/waiting/{{player.role}}.png"/>
                        </div>
        </div>
      </div>

    </div>
      <div *ngIf="!actualTeamVisible" class="col-md-10 col-6" style="height: 100% ;     display: flex;justify-content: center;">

        <div class="col-md-3 col-12" style="" *ngFor="let player of finalTeam" id="bannerCol">
          <img class="banner" src="../../../assets/Images/generic/banner{{player.rank || player.teamRank}}.png" style="position: absolute;top: 0;left: 0;"/>
          <div id="buttonZone" style="position: absolute; width: 100%;text-align: center;top: 0;left: 0; display: flex;
    flex-direction: column;
    place-content: center;
    justify-content: space-evenly;height: 70%;" >
            <div id="rankZone">
              <img id="rankImage" src="../../../assets/Images/waiting/{{player.rank || player.teamRank}}.png"/>
            </div>

            <div id="summonerName">
              <p style="font-family: beaufort, serif;">-----{{player.summonerName}}</p>
            </div>

            <div id="playerRole">
              <img src="/assets/Images/waiting/{{player.role}}.png"/>
            </div>
          </div>
        </div>

      </div>




    <div class="col-md-1 col-3" id="menuCol">
    </div>
  </div>



  <div class="row" style="justify-content: center; height: 100%;max-height:300px;">

    <div class="col-md-1 col-2" style="align-self: flex-end;">
      <div class="row">

      </div>
      <div class="row" >
        <div class="col-md-12 col-12" style="align-self: flex-end;">
              <img id="backButton" (click)="gotoBackPage()" onmouseover="this.src='../../../assets/Images/addPlayer/backButton_hover1.png'" src="../../../assets/Images/generic/backButton.png" onmouseout="this.src='/assets/Images/generic/backButton.png'"/>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-8" style="display: grid;align-items: center;">
      <div class="row" >
        <div class="col-md-4 col-12">
          <select *ngIf="duoVisible"  class="custom-select" (change)="updateLanePreference($event)" style="text-align-last: center;">
            <option selected disabled value>Role</option>
            <option value="top"> top</option>
            <option value="jungle"> jungle</option>
            <option value="mid"> mid</option>
            <option value="bot"> bot</option>
            <option value="support"> support</option>
            <option value="fill"> fill</option>
          </select>

        </div>
        <div class="col-md-4 col-12">
          <select  class="custom-select" (change)="updateMatchType($event)" style="text-align-last: center;">
            <option selected disabled value>Game Mode</option>
            <option style="font-family: beaufort, serif;" value="duo" *ngIf="duoVisible">Rank Solo duo</option>
            <option value="flex3" *ngIf="trioVisible">Rank Flex 3</option>
            <option value="flex5" *ngIf="flexVisible">Rank Flex 5</option>
            <option value="5v5" *ngIf="fiveVsFive">5 v 5</option>
          </select>


        </div>
        <div class="col-md-4">
          <button mat-raised-button *ngIf="matchType" id="waitingButton" (click)="startWaiting()"> Waiting</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
                  <button mat-raised-button [disabled]="!waitingStatus" id="fastSearchButton" (click)="startFastSearch(matchType)"> Fast Search</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button *ngIf="matchType" id="waitingButton" (click)="stopWaiting()"> Stop waiting</button>
        </div>
      </div>


    </div>
    <div class="col-md-1 col-2" style="align-self: center;">
      <img id="light" *ngIf="waitingStatus" src="../../../assets/Images/greenlight.png"/>
      <img id="light" *ngIf="!waitingStatus" src="../../../assets/Images/redlight.png"/>
    </div>
    <div id="roomCol" class="col-md-4 col-12" style="justify-content: center">
      <app-team-room id="room"></app-team-room>
    </div>




  </div>
  </div>

<!--<div id="upperZone2">-->
<!--  <div id="menuButtonZone2">-->

<!--    <img id="menuIcon"  onmouseover="this.src='../../../assets/Images/generic/menuIcon_hover.png'" src="/assets/Images/generic/menuIcon.png" onmouseout="this.src='/assets/Images/generic/menuIcon.png'">-->
<!--  </div>-->

<!--  <div id="playerZone1" *ngIf="actualTeamVisible">-->

<!--    <div id="bannerZone" *ngFor="let player of actualTeam">-->

<!--      <img class="banner" src="../../../assets/Images/generic/banner{{player.rank || player.teamRank}}.png"/>-->

<!--      <div id="buttonBannerZone">-->

<!--        <div id="rankZone">-->
<!--          <img id="rankImage" src="../../../assets/Images/waiting/{{player.rank || player.teamRank}}.png"/>-->
<!--        </div>-->

<!--        <div id="summonerName">-->
<!--          <p style="font-family: beaufort, serif; color: yellow">{{player.summonerName}}</p>-->
<!--        </div>-->

<!--            <div id="playerRole">-->
<!--              <img src="../../../assets/Images/waiting/{{player.role}}"/>-->
<!--            </div>-->


<!--      </div>-->

<!--    </div>-->


<!--  </div >-->

<!--  <div id="playerZone2" *ngIf="!actualTeamVisible">-->
<!--    <div id="bannerZone" *ngFor="let players of finalTeam" >-->

<!--          <img class="banner" src="../../../assets/Images/generic/banner{{players.rank || players.teamRank}}.png">-->


<!--          <div id="rankZone">-->
<!--            <img src="../../../assets/Images/waiting/{{players.rank || players.teamRank}}.png" height="149" width="130"/>-->
<!--          </div>-->

<!--          <div id="summonerName">-->
<!--            <p style="font-family: beaufort, serif;color: yellow">{{players.summonerName}}</p>-->
<!--          </div>-->

<!--          <div id="playerRole">-->
<!--            <img src="../../../assets/Images/waiting/{{players.role}}.png" height="100" width="100"/>-->
<!--          </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div id="menuButtonZone2Clone">-->
<!--  </div>-->



<!--</div>-->


<!--<div id="bottomZone1">-->

<!--  <div id="backbuttonZone">-->

<!--    <img id="backButton" (click)="gotoBackPage()" onmouseover="this.src='../../../assets/Images/addPlayer/backButton_hover1.png'" src="../../../assets/Images/generic/backButton.png" onmouseout="this.src='/assets/Images/generic/backButton.png'"/>-->

<!--  </div>-->

<!--  <div id="customZone">-->

<!--    <div id="buttonZone00">-->
<!--      <div id="preferenceButton">&ndash;&gt;-->
<!--            <mat-form-field appearance="fill" *ngIf="duoVisible" style="font-family: beaufort, serif;">-->
<!--              <mat-label>Duo Lane preference</mat-label>-->
<!--              <mat-select style="font-family: beaufort, serif;" (selectionChange)="updateLanePreference($event)">-->
<!--                <mat-option value="top"> top</mat-option>-->
<!--                <mat-option value="jungle"> jungle</mat-option>-->
<!--                <mat-option value="mid"> mid</mat-option>-->
<!--                <mat-option value="bot"> bot</mat-option>-->
<!--                <mat-option value="support"> support</mat-option>-->
<!--                <mat-option value="fill"> fill</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--    </div>-->




<!--    <div id="buttonZone22">-->
<!--      <div id="gameModeButton">&ndash;&gt;-->
<!--        <mat-form-field appearance="fill" style="font-family: beaufort, serif;">-->
<!--          <mat-label>Game Mode:</mat-label>-->
<!--          <mat-select (selectionChange)="updateMatchType($event)" style="font-family: beaufort, serif;">-->
<!--            <mat-option style="font-family: beaufort, serif;" value="duo" *ngIf="duoVisible">Rank Solo duo</mat-option>-->
<!--            <mat-option value="flex3" *ngIf="trioVisible">Rank Flex 3</mat-option>-->
<!--            <mat-option value="flex5" *ngIf="flexVisible">Rank Flex 5</mat-option>-->
<!--            <mat-option value="5v5" *ngIf="fiveVsFive">5 v 5</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div id="fastSearchButton">-->
<!--        <button mat-raised-button [disabled]="!waitingStatus" (click)="startFastSearch(matchType)"> Fast Search</button>-->
<!--      </div>-->

<!--    </div>-->



<!--    <div id="buttonZone11">-->

<!--        <div *ngIf="matchType" id="waitingButton">-->
<!--        <button mat-raised-button (click)="startWaiting()"> Waiting</button>-->
<!--      </div>-->
<!--      <div *ngIf="matchType" id="stopWaitingButton">-->
<!--        <button mat-raised-button (click)="stopWaiting()"> Stop waiting</button>-->
<!--      </div>-->

<!--    </div>-->




<!--  </div>-->

<!--  <div id="lightZone">-->
<!--    <img class="light" *ngIf="waitingStatus" src="../../../assets/Images/greenlight.png"/>-->

<!--        <img class="light" *ngIf="!waitingStatus" src="../../../assets/Images/redlight.png"/>-->

<!--  </div>-->
<!--  <div id="chatZone">-->

<!--     <app-team-room></app-team-room>-->

<!--  </div>-->



<!--</div>-->




<!--<div id="teamZone">-->

<!--&lt;!&ndash;  colocar aqui os jogadores da equipa antes do search&ndash;&gt;-->


<!--  <div *ngIf="actualTeamVisible" id="actualTeamZone">-->
<!--  <div id="playerOfTeam" *ngFor="let player of actualTeam">-->

<!--    <div id="banner">-->
<!--      <img src="../../../assets/Images/banner{{player.rank || player.teamRank}}.png" height="600" width="250"/>-->
<!--    </div>-->

<!--    <div id="rankZone">-->
<!--      <img src="../../../assets/Images/{{player.rank || player.teamRank}}.png" height="149" width="130"/>-->
<!--    </div>-->

<!--    <div id="summonerName">-->
<!--      <p style="font-family: beaufort, serif;">{{player.summonerName}}</p>-->
<!--    </div>-->

<!--    <div id="playerRole">-->
<!--      <img src="../../../assets/Images/{{player.role}}" height="100" width="100"/>-->
<!--    </div>-->

<!--  </div>-->

<!--  </div>-->

<!--  <div id="playerOfTeam" *ngFor="let players of finalTeam" >-->



<!--     <div id="banner">-->
<!--    <img src="../../../assets/Images/banner{{players.rank || players.teamRank}}.png" height="600" width="250"/>-->
<!--     </div>-->

<!--    <div id="rankZone">-->
<!--      <img src="../../../assets/Images/{{players.rank || players.teamRank}}.png" height="149" width="130"/>-->
<!--    </div>-->

<!--    <div id="summonerName">-->
<!--      <p style="font-family: beaufort, serif;">{{players.summonerName}}</p>-->
<!--    </div>-->

<!--    <div id="playerRole">-->
<!--      <img src="../../../assets/Images/{{players.role}}.png" height="100" width="100"/>-->
<!--    </div>-->


<!--  </div>-->

<!--</div>-->

<!--<div id="controlZone">-->

<!--  <img src="../../../assets/Images/banner.png" height="700" width="300"/>-->

<!--  <div *ngIf="matchType" id="waitingButton">-->
<!--  <button mat-raised-button (click)="startWaiting()"> Waiting</button>-->

<!--</div>-->

<!--<div *ngIf="matchType" id="stopWaitingButton">-->
<!--  <button mat-raised-button (click)="stopWaiting()"> Stop waiting</button>-->
<!--</div>-->

<!--  <div id="gameModeButton">-->
<!--    <mat-form-field appearance="fill" style="font-family: beaufort, serif;">-->
<!--      <mat-label>Game Mode:</mat-label>-->
<!--      <mat-select (selectionChange)="updateMatchType($event)" style="font-family: beaufort, serif;">-->
<!--        <mat-option style="font-family: beaufort, serif;" value="duo" *ngIf="duoVisible">Rank Solo duo</mat-option>-->
<!--        <mat-option value="flex3" *ngIf="trioVisible">Rank Flex 3</mat-option>-->
<!--        <mat-option value="flex5" *ngIf="flexVisible">Rank Flex 5</mat-option>-->
<!--        <mat-option value="5v5" *ngIf="fiveVsFive">5 v 5</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div id="preferenceButton">-->
<!--    <mat-form-field appearance="fill" *ngIf="duoVisible" style="font-family: beaufort, serif;">-->
<!--      <mat-label>Duo Lane preference</mat-label>-->
<!--      <mat-select style="font-family: beaufort, serif;" (selectionChange)="updateLanePreference($event)">-->
<!--        <mat-option value="top"> top</mat-option>-->
<!--        <mat-option value="jungle"> jungle</mat-option>-->
<!--        <mat-option value="mid"> mid</mat-option>-->
<!--        <mat-option value="bot"> bot</mat-option>-->
<!--        <mat-option value="support"> support</mat-option>-->
<!--        <mat-option value="fill"> fill</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div id="fastSearchButton">-->
<!--    <button mat-raised-button [disabled]="!waitingStatus" (click)="startFastSearch(matchType)"> Fast Search</button>-->
<!--  </div>-->

<!--  <div id="ball">-->

<!--    <img *ngIf="waitingStatus" src="../../../assets/Images/greenlight.png" height="90" width="90"/>-->

<!--    <img *ngIf="!waitingStatus" src="../../../assets/Images/redlight.png" height="90" width="90"/>-->

<!--  </div>-->





<!--</div>-->


<!--<div id="backButton">-->

<!--  <img (click)="gotoBackPage()" src="../../../assets/Images/backButton.png" height="100" width="100"/>-->

<!--</div>-->

<!--<div id="chat">-->

<!--  <app-team-room></app-team-room>-->

<!--</div>-->

<!--<h1 mat-dialog-title>NO PLAYERS FOUND!!</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>Wait a little longer or go to the search area to see if there any players waiting</p>-->
<!--</div>-->

<!--<h1>Team Zone: {{teamZone}}</h1>-->

</body>

<!--<button mat-raised-button (click)="gotoBackPage()"> Back</button>-->

<!--<button mat-raised-button (click)="startWaiting()"> Waiting</button>-->
<!--<button mat-raised-button> Search</button>-->
<!--<button mat-raised-button> Delete team</button>-->
<!--<button mat-raised-button (click)="stopWaiting()"> Stop waiting</button>-->






<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Game Mode:</mat-label>-->
<!--  <mat-select (selectionChange)="updateMatchType($event)">-->
<!--    <mat-option value="duo">Rank Solo duo</mat-option>-->
<!--    <mat-option value="flex3">Rank Flex 3</mat-option>-->
<!--    <mat-option value="flex5">Rank Flex 5</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->

<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Duo Lane preference</mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option value="top"> top</mat-option>-->
<!--    <mat-option value="jungle"> jungle</mat-option>-->
<!--    <mat-option value="mid"> mid</mat-option>-->
<!--    <mat-option value="bot"> bot</mat-option>-->
<!--    <mat-option value="support"> support</mat-option>-->
<!--    <mat-option value="fill"> fill</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->


<!--<button mat-raised-button (click)="startFastSearch(matchType)"> Fast Search</button>-->




<!--<div *ngFor="let players of finalTeam">-->
<!--  <p>{{players.summonerName}}</p>-->


<!--  <img src="../../../assets/Images/{{players.rank || players.teamRank}}.png" height="149" width="130"/>-->
<!--  <p>{{players.teamRank || players.rank}}</p>-->


<!--</div>-->

<!--<app-team-room></app-team-room>-->





<!--<div>-->
<!--  <h1>Zona de testes:</h1>-->
<!--<br>-->


<!--  <label>-->
<!--    <input matInput placeholder="Placeholder" (change)="testeDeVer($event)">-->
<!--  </label>-->



<!--  <h1 *ngIf="playerSelectedStatusVar">Selecionado!!!!!</h1>-->





<!--  <button mat-raised-button (click)="startCountdown(60)">start counting</button>-->



<!--</div>-->




