<!--
<p>team-room works!</p>

<!--<mat-spinner></mat-spinner>-->

<body>

<div id="chatZone">

  <div id="messageZone">

    <div *ngFor="let message of messageArray">
      <p> {{message.player}}: {{message.message}} </p>
    </div>




  </div>
<div id="inputZone">




  <label style="width: 100%">
    <input matInput placeholder="Write your message" (change)="updateChatMessage($event)" style="color: white; width: 100%">
  </label>


</div>

</div>







<!--<h1> room Data: {{roomData}}</h1>-->

<!--<h1>Players:</h1>-->

<!--<div *ngFor="let players of roomTeam">-->
<!-- <p> Name: {{players.summonerName}}</p>-->
<!--  <p> Role : {{players.role || players.teamRoles[0]}}</p>-->
<!--  <p> Rank: {{players.rank || players.teamRank}}</p>-->
<!--</div>-->

<!--<h1>Chat:</h1>-->

<!--<div *ngFor="let message of messageArray">-->
<!--<p> mensagem: {{message.message}} </p>-->
<!--</div>-->


</body>


