<p>search-player works!</p>
<!--<p>{{test[1][1].summonerName}}</p>-->
<button mat-raised-button> search</button>

<!--<table mat-table [dataSource]="teamsList">-->

<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.summonerName}} </td>-->
<!--  </ng-container>-->



<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->







<ng-container *ngFor="let arr of test">
  <p>Leader: {{arr[0].summonerName}}</p>
  <p>Number of Players: {{arr.length}}</p>
  <p>Rank: {{arr[0].rank}}</p>

  <p>waiting {{arr[0].waiting}}</p>


  <img *ngIf="arr[0].waiting" src="../../../assets/Images/greenlight.png" height="20" width="20"/>
  <img *ngIf="!arr[0].waiting" src="../../../assets/Images/redlight.png" height="20" width="20"/>

  <div *ngFor="let ola of arr">
<!--    <p> {{ ola?.summonerName }}</p>-->
  </div>
</ng-container>

<div *ngFor="let ola of test">



  <p> {{test[ola]}}</p>

</div>
