/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: beaufort, serif; }

@font-face {font-family: beaufort; src: url("assets/fonts/Beaufort W01 Regular.otf") format("opentype");}
